BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 190
AccessModifierOffset: -4
SortIncludes: false
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
PackConstructorInitializers : Never